/* ----------- RESET DE CSS -----------*/

html {
    box-sizing: border-box;
}
body {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(197, 207, 206) 100%);
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    line-height: 1.2;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0%;
}



/* -------------------------DESCARGAR----------------*/

.descargar {

    padding: 20px;
    margin: 1%;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight:bold;
    background: #00497f;  
}

.descargar {
  background-color: #00497f;
  transition: background-color .5s;
}

.descargar:hover {
  background-color: gold;
}


.baja-info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.40rem;
  font: bold;
  color: #00497f;
}



  






/* -------------------------Menú propiedades----------------*/
header {
    width: 100%;
}

 nav {
    width: 90%;
    max-width: 1000px;
    /*margin: 20px auto;*/
    background: #024959;
    position: absolute;
    left: 20%;
    right: 25%;
    z-index: 30;
}

.menu_bar {
    display: none;
    position: relative;
    
}

nav ul {
    overflow: hidden;
    list-style: none;
    
}


nav ul li {
    float: left;
}


nav ul li a {
    color: #ffffff;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight:bold;
}

nav ul li span {
    margin-right: 10px;
}

nav ul li a:hover {
    background: #037e8c;}


/* --------------------------INFORMATION----------------------*/

.information {
  padding: 0% 10% 5% 10%;
}

.desarrollo {
  padding: 8% 0% 0% 0%;
}


/* --------------------------Estilos Tipográficos----------------------*/


h1 { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  font-weight:bold;
  position: absolute;
  text-align: center;
  left: 15%;
  right: 15%;
  color: #ffffff;
  text-shadow: 3px 4px 15px #0e1213;
  top: 30%;
}


/* --------------------------FORMULARIO----------------------*/

.correo {
  font-size: 2rem;
  font-weight:bold;
  padding: 0% 3% 3% 0%;

}

.caja-formulario {
    background: #8baddc;
    padding: 2%;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;

}


/*----------------------------------images-----------------*/


img {
  max-width: 100%;
}


#texto_home {
background-image: url(../image/contacto/ninas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 80vh;
  text-align: center;
  /*background-color: #024959;*/

}

.logo_eccopoli {
  width: 20;
  height: 20%;
  position: absolute;
  top: 2%;
  left: 10%;  
}



/**********************************    DESARROLLO SUSTENTABLE    *****************************/


  h2 {
    font-size: 2rem;
    line-height: 1;
    font: bold;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0% 0% 2.5% 0%;
    }


    h3{
      font-size: 2rem;
      line-height: 1;
      font: bold;
      color:black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 2% 0% 3% 0%;
      }


      p{
        font-family: open sans;
        text-align: justify;
        font-size: 1.5em;
      }



.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.wrapper div{
 width: 300px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  border-top: 5px solid transparent;
}

.wrapper div:hover{
  border-top: 5px solid white;
}
/*---------------------------------*/
.box-1{
  background-image: url(../image/resultados-involucrate/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-1.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}
/*---------------------------------*/
.box-2{
  background-image: url(../image/resultados-involucrate/2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-2.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}

/*---------------------------------*/
.box-3{
  background-image: url(../image/resultados-involucrate/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-3.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}

/*---------------------------------*/
.box-4{
  background-image: url(../image/Derechos/4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-4.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-5{
  background-image: url(../image/resultados-involucrate/4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-5.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-6{
  background-image: url(../image/resultados-involucrate/5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-6.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


 


/*************************************  DESARROLLO DURABLE   *****************************************************/



.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.wrapper div{
 width: 300px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  border-top: 5px solid transparent;
}

.wrapper div:hover{
  border-top: 5px solid white;
}
/*---------------------------------*/
.box-23{
  background-image: url(../image/derarrollo/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-23.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}
/*---------------------------------*/

.box-24{
  background-image: url(../image/derarrollo/2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-24.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}
/*---------------------------------*/









.box-25{
  background-image: url(../image/derarrollo/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-25.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}

/*---------------------------------*/
.box-26{
  background-image: url(../image/derarrollo/4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-26.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}

/*---------------------------------*/
.box-27{
  background-image: url(../image/derarrollo/5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-27.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-28{
  background-image: url(../image/derarrollo/6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-28.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-29{
  background-image: url(../image/derarrollo/7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-29.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}

/*---------------------------------*/
.box-30{
  background-image: url(../image/derarrollo/8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-30.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-31{
  background-image: url(../image/derarrollo/9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-31.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-32{
  background-image: url(../image/derarrollo/10.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-32.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-33{
  background-image: url(../image/derarrollo/11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-33.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-34{
  background-image: url(../image/derarrollo/12.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-34.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-35{
  background-image: url(../image/derarrollo/13.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-35.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-36{
  background-image: url(../image/derarrollo/14.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-36.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}

/*---------------------------------*/
.box-37{
  background-image: url(../image/derarrollo/15.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-37.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/
.box-38{
  background-image: url(../image/derarrollo/16.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 600ms cubic-bezier(1,0,0,1);
  filter: grayscale();
}

.box-38.open{
  width: 500px;
  height: 300px;
  filter: contrast();
}


/*---------------------------------*/




@media screen and (max-width: 700px){
  
  h1{
      font-size: 20px;
  }
  
  .wrapper div{
      width: 300px;
      height: 100px;
      margin: 5px;
  }
}















/* --------------------------Footer----------------------*/

footer {
  background-color: #15232a;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #ffffff;
 }


 